#oneb{
    left:10%;
    width:12%;
}

#twob{
    left:22%;
    width: 10%;
}

#threeb{
    left: 32%;
    width:10%;
}

#fourb{
    left: 42%;
    width: 10%; 
}

#fiveb{
    left: 50%;
    width: 10%; 
}

#sixb{
    left: 66%;
    width: 3%; 
}

#oneb:after{
    background: rgba(169, 76, 242, 0.35);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
}


#twob:after{
    background: rgba(47, 128, 237, 0.45);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 8s forwards;
    animation-delay: 10s;

}

#threeb:after{
    background: rgba(140, 190, 33, 0.5);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 8s forwards;
    animation-delay: 18s;

}

#fourb:after{
    background: rgba(47, 128, 237, 0.45);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 8s forwards;
    animation-delay: 26s;
}

#fiveb:after{
    background: rgba(169, 76, 242, 0.35);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
    animation-delay: 30s;

}

#sixb:after{
    background: rgba(140, 190, 33, 0.5);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 3s forwards;
    animation-delay: 45s;

}

#raise_hand{
    position:absolute; 
    right:-4%; 
    top:0%; 
    visibility:hidden;
    animation: show 2s forwards;
    animation-delay: 49s;
}

#disappear{
    visibility: visible;
    animation: hide 2s forwards;
    animation-delay: 49s;

}

@keyframes show{
    to {visibility: visible;}
}


@keyframes hide{
    to {visibility: hidden;}
}