body{
    padding:0 px;
    margin: 0px;
}

.full-width-img{
    width: 100%;
}

.half-width-img{
    width: 100%;
    padding:10px;
}

#raised_hand_text{
    position:absolute;
    top:-8%;
    left:6%;
}

#raised_hand_text p{
    color:rgba(47, 128, 237);
    visibility: hidden;
    animation: show 2s forwards;
    animation-delay:49s;
}

.notifications{
    width:3%;
    position:absolute;
    right:2%;
    top:8%;
    animation: hide 5s forwards;
    animation-delay:49s;
}

.sidebar{
    position:absolute;
    width:100%;
    height:100%;
    border:solid;
    z-index: 11;
    top:0%;
}

#sidebar-first{
    display:none;
}

#sidebar-second{
    display:none;
}

#sidebar-third{
    display:none;
}

#sidebar-fourth{
    display:none;
}

#sidebar-image{
    /* animation: show 5s forwards; */
    width:33%;
    position:absolute;
    right:0%;
    top:0%;
}


#alert{
    visibility:hidden;
    animation: show 5s forwards;
    animation-delay:49s
}

.group_message{
    width:12%;
    position:absolute;
    right:8%;
    top:9%;
}


.modal{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    width:100%;
    height:100%;
    top:0%;
    position:absolute;
    overflow: auto; /* Enable scroll if needed */
    z-index:9;

}

#modal-one{
    visibility: hidden;
    animation: show 0s 5s forward;

}

.pop-up-box{
    position: absolute;
    left:33%;
    top:20%;
    width:30%;
    z-index:10;
}

.pop-up{
    position:absolute;
    width:100%;
}

.close{
    position:absolute;
    width:10%;
    top:5%;
    right:3%;
}

.send{
    position:absolute;
    width: 20%;
    right: 5%;
    padding-top: 66%;
}

.wrapper {
    width: 100%;
    position: relative;
}

.row1{
    width: 100%;
    text-align:center;
}

.graph{
    width: 40%;
    /* border-style:solid; */
    position:relative;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}


.bar{
    width: 20%;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    bottom:30%;

}
/* setting the location and length of each bar */
#one{
    left:10%;
}

#two{
    left:30%;
    width:10%;
}

#three{
    left: 38%;
    width: 5%;
}

#four{
    left: 45%;
    width: 8%;
}

#five{
    left:53%;
    width: 10%;
}

#six{
    left: 65%;
    width: 10%;
}

#seven{
    left: 70%;
    width:10%;
}


/* setting the animation for each bar*/
#seven:after{
    background:rgba(242, 201, 76, 0.5);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
    animation-delay: 45s;
}

#six:after{
    background: rgba(140, 190, 33, 0.5);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
    animation-delay: 40s;
}

#five:after{
    background:rgba(242, 201, 76, 0.5);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
    animation-delay: 30s;
}

#four:after{
    background:rgba(47, 128, 237, 0.45);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
    animation-delay: 20s;
}

#three:after{
    background: rgba(242, 201, 76, 0.5);    
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 5s forwards;
    animation-delay: 15s;
}

#two:after{
    background: rgba(47, 128, 237, 0.45);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 5s forwards;
    animation-delay: 10s;

}

#one:after {
    background: rgba(140, 190, 33, 0.5);
    content: '';
    position: absolute;
    left:0;
    width:0;
    height: 100%;
    border-radius: 50px;
    animation: load 10s forwards;
}

.keyword{
    background: rgba(140, 190, 33, 0.5);
    border-radius: 100%;
    width: 12px;
    height:12px;
    animation: show 0s 5s forwards;
    visibility: hidden;
    position: absolute;
    bottom:25%;
    left:18%;
}

#green{
    background: rgba(140, 190, 33, 0.5);
}

#yellow{
    background: rgba(242, 201, 76, 0.5);
    left: 42%;
    animation-delay:18s;    
}

#blue{
    background: rgba(47, 128, 237, 0.45);
    left: 49%;
    animation-delay:26s;    

}

#interrupt{
    width:3%;
    position:absolute;
    left:37.5%;
    bottom:25%;
    visibility:hidden;
    animation: show 5s forwards;
    animation-delay: 16s;
}

@keyframes show{
    to {visibility: visible;}
}

@keyframes load{
    0% {
        width: 0;
      }
      
      25% {
        width: 40%;
      }
      
      50% {
        width: 60%;
      }
      
      75% {
        width: 75%;
      }
      
      100% {
        width: 100%;
      }
}

